@import './base.css';

body {
  background: linear-gradient(135deg, #0a0f1f, #0f172a);
  font-family: 'Poppins', sans-serif;
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
