@import './base.css';


body {
 height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(120deg, #1e3c72, #2a5298);
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}
